*{
  overflow: hidden;
  flex-wrap: nowrap;
}

body{
  background-image: url(IMG/milky-way-67504_1920.jpg); 

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.main_container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  width: 100vw;
}


.left{
  background: transparent;
  backdrop-filter: blur(10px);
  opacity: 0.85;
  display: grid;
  grid-template-rows: 250px 1fr;
  border-right:  3px white solid;
}

.profile{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

.profile .top{
  background-image: url(IMG/light-bulb-5831252_640.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 50%;
}

.profile img{
  position: absolute;
  width: 110px; height: 110px; 
  top: 50%;
  left: 5%;
  translate: 0 -50%;
}

.profile .bottom{
  background-color: rgba(0, 0, 0, 0.336);
  display: grid; 
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 50%;
}

.bottom .username{
  display: grid; 
  grid-template-columns: 1fr 2fr;
}

.bottom .username .info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottom .username .info .info_left{
  font-family: 'Anton';
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.bottom .username .info .info_right{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 25px;
}

.bottom .username .info .info_right button{
  font-family: 'Anton';
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  background-color: black;
  border-radius: 25px; border: none;
  cursor: pointer;

}

.bottom .bio {
  font-family: 'Anton';
  color: white; 
  display: grid;
  gap: 5px;
  grid-template-rows: 1fr 1fr;
  padding: 5px 5px 5px 15px;
}

.bottom .bio .head {
  font-size: 15px;
}

.bottom .bio .bio_box{
  font-size: 10px;
}


.list {
  display: grid;
  grid-template-rows: 1fr 6fr;
}

.list .member_info{
  display: flex;
  font-family: 'Anton';
  color: white; 
  font-size: 25px;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}

blockquote{
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

.one {
  margin-top: 0;
}

.list .member_box{
  background: transparent;background-color: rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(50px);
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  padding: 5px;
  align-items: center;
  width: 100%;
  height: 15%;

}

.member_box .icon img{
  width: 50px; height: 50px;
}

.member_box .memInfo{
  font-family: 'Anton';
  color: white; 
  font-size: 20px;
  padding-left: 5%;
  display: flex;
  align-items: center;
}
.member_box .memInfo img {
  margin-left: 2%;
  width: 25px; height: 25px;
}

.member_box .active button {
  font-family: 'Anton';
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  background-color: black;
  border-radius: 25px; border: none;
  cursor: pointer;

}











.right{
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  backdrop-filter: blur(40px);
  background-color: #722F37;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  border-bottom:1px white solid ;
}

header img{
  width: 140px; height: 90px;
}
header h3{
  font-family: 'Anton';
  color: white;
  font-size: 40px;
  width: 80%;
}
header .option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}
header .option img {
  width: 45px; height: 45px;
  filter: invert(1);
  cursor: pointer;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton';
  color: white;
  font-size: 50px;
}


footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

footer .type_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
  border-radius: 50px;
  border: rgb(190, 190, 190) 2px solid;
}

footer img{
  width: 30px; height: 30px;
  filter: invert(1);
  cursor: pointer;
}

footer .start{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

footer input {
  font-family: 'Anton';
  color: white;
  padding: 5px 15px;
  font-size: 15px;
  background: transparent;
  height: 100%;
  width: 70%;
}

footer .end{
  display: flex;
  justify-content: space-around;
  width: 20%;

}

.return {
  position: absolute;
  width: 50px;
  height: 50px; 
  z-index: 5;
  top: 0;
  cursor: pointer;
}

.return img{
  width: 50px;
  height: 50px; 
  filter: invert(1);
}