*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: static;
}

body{
    margin: 0;
    padding: 0;
    background-color: #0b0b1c;
    overflow: visible;
}

nav{
    background-color: #ba0000;
    height: 80px;
    width: 100%;
    font-family: 'Anton', sans-serif;
    position: fixed;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

nav li{
    height: 80px;
}

nav ul li .coin_number{
    position: absolute;
    background-color: #7c0000;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 30px;
    top: 15px;
}

.coin_number p{
    font-size: 10px;
    color: #ffffff;
    display: flex;
    text-align: center;
    margin-top: 3px;
}

nav a{
    font-size: 25px;
    height: 100%;
    padding-top: 20%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

nav li a:hover{
    background-color: #7c0000;
}

nav li:first-child{
    margin-right: auto;
}

.sub-menu-wrap{
    position: absolute;
    right: 1%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: -1;
}

.sub-menu-wrap.open-menu{
    max-height: 700px;
}

.sub-menu{
    background: #7c0000;
    padding: 20px;
    margin: 10px;   
    border-radius: 25px;
    height: 470px;
}

.profile{
    margin: 3px;
    margin-bottom: 10px;
}

.profile img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-top: 5px;
    float: left;
}

.profile h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 5px;
}

.mybio{
    background-color: #3e0000;
    padding: 10px;  
    border-radius: 10px;
    display: flex;
}

.mybio p{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.course{
    background-color: #3e0000;
    height: 140px;
    padding: 15px;
    margin-top: 10px;   
    margin: 3px;
    border-radius:15px;
}

.mycourse{
    color: white;
    font-size: 20px;
    text-align: center;
}

.icon-course{
    display: flex;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.icon-course a img{
    width: 30px;
    display: flex;
    position: absolute;
}

.icon-course p{
    color: white;
    font-size: 15px;
    margin-bottom: -70px;
    position: absolute;
    text-align: center;
    margin-left: -4px;
    font-weight: normal;
}

.commu{
    background-color: #3e0000;
    height: 185px;
    margin: 3px;
    margin-top: 10px;   
    padding: 15px;
    border-radius:15px;
}

.mycommu{
    color: white;
    font-size: 20px;
    text-align: center;
}

.icon-commu{
    display: block;   
    margin-left: -25px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    float: left;
    position: absolute;
}

.icon-commu img{
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
}

.icon-commu p{
    font-size: 15px;
    margin: 5px;
    font-weight: normal;
}

.social{
    border-radius: 10px;
    display: block;
    float: right;
    margin-top: 25px;
    margin-right: -20px;   
}

.social a{
    font-size: 30px;
    margin: 10px;
    margin-left: -50px;
}
