@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    font-family: 'Anton', sans-serif;
}

.pageBackground{
    background-color: #000;
    background-image: url(IMG/redspace.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -2;
    overflow: hidden;
}

.return {
    position: absolute;
    width: 50px;
    height: 50px; 
    z-index: 5;
    top: 10%; left: 0; translate: -0% 40%;
    cursor: pointer;
  }
  
  .return img{
    width: 50px;
    height: 50px; 
    filter: invert(1);
  }

.main {
    margin-top: 3%;
    background: transparent;
    backdrop-filter: blur(10px);
    border:  1px solid white;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 25px;
        width: 70%;
        height: 75%;
    padding: 20px 20px;
    top: 50%; left: 50%; translate: -50% -50%;
    column-gap: 50px;
    z-index: -1;
}

h1{
    position: absolute;
    top: 0; left: 0%; translate: 5% -100%;
    color: white;

    font-size: 35px;
}

.one-three{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    column-gap: 5px;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    background-color: goldenrod;
    transition: all 0.5s;
}

.two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: silver;
}

.three{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    background-color: brown;
}

.Four-ten{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgb(134, 4, 4);
    padding: 20px;
    border-radius: 25px;
}

.other{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 25px;
}

h2{
    position: absolute;
    color: white;
    top: 0; left: 50%; translate: -50% 10%;
    font-size: 35px;
}

.Four-ten h2{
    top: 1%; left: 3%; translate: 10% 10%;
    font-size: 20px;
}

.one:hover {
    height: 85%;
    transition: all 0.5s;
}

a{
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}